/* .slide-enter {
  opacity: 0;
  transform:translateX(-100%);
}
.slide-enter-active {
  opacity: 1;
  transform:translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
  transform:translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform:translateX(-100%);
  transition: opacity 300ms, transform 300ms;
} */

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1.0;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1.0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}


.about {
  height: 100vh;
  background-color: aqua;
}

.home {
  height: 100vh;
  background-color: rgb(13, 71, 71);
}

.Contacts{
  height: 100vh;
  background-color: blueviolet;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}